<p> Hello {{fullname}}! We are really glad you decided to join us at <a href ="#">Site</a> We officially say a hearty welcome to you!</p>

<p>Log in to your dashboard <a href = '/login'>here</a>             