{{> mainh}}

{{> mainnav}}
<div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/login.png');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">{{title}}</h1>
          
        </div>
      </div>
    </div>
	<div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title" >{{mess}}</h2>
           <p class="text-justify">Upon Registration with or without a referral link, you will be required to pay an activation fee of N1,000 (One thousand naira only) to a user and upon confirmation of receipt, you are now qualified to enter the feeder matrix.</p>
          </div>
        </div>
		
		<div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title" id = "feederStage">FEEDER STAGE</h2>
           <p class="text-justify">This stage is just One Level Deep! It is a 3 * 1 matrix that is, each user is required to have three feeder levels under him/her. <br><br>
		   </p>
		   <img src = "/assets/img/chart.png" class = "img-fluid"/><br><br>
		   <p class="text-justify">Your first downline pays to you as seen as the diagram above. The second does not pay to you rather, he pays to your sponsor while the thirds pays to you. In essense, your ROI in each matrix is 100%! That's not all!</p><br><br>
			<p class="text-justify">The middle leg of all your referrals pays to you as long as they keep re-entering the matrix! That is, if you have only 10 referrals, their middle leg pays to you which is 10 * N10,000 (matrix fee) = N100,000! Remember, once you get your three legs, you are required to enter the matrix again and so do your referrals. As long as they keep re-entering the matrix, you keep getting N100,000 over and over and over again!</p>
		 </div>
        </div>
	
{{> mainf}}