{{> mainh}}

{{> mainnav}}
<div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/img/login.png');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">{{title}}</h1>
          
        </div>
      </div>
    </div>
	<div class="section section-about-us">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title" >{{mess}}</h2>
           <p class="text-justify">Upon Registration with or without a referral link, you will be required to pay an activation fee of N1,000 (One thousand naira only) to a user and upon confirmation of receipt, you are now qualified to enter the feeder matrix.</p>
          </div>
        </div>
		
		<div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title" id = "feederStage">FEEDER STAGE</h2>
           <p class="text-justify">This stage is just One Level Deep! It is a 3 * 1 matrix that is, each user is required to have three feeder levels under him/her. <br><br>
		   Watch the video for more information
		   </p>
          </div>
        </div>
	
{{> mainf}}